<?php

$config[ 'host' ] = "localhost";
$config[ 'user' ] = "postgres";
$config[ 'pass' ] = "";
$config[ 'db' ] = "dev";
$config[ 'LinesPerPage' ] = 10;
$config[ 'version' ] = '1.0.0';
$config[ 'maxTraceDepth' ] = 1000; // макс. глубина функции трассировки

?>