.olControlPanel button {
    position: relative;
    display: block;
    margin: 2px;
    border: 1px solid;
    padding: 0 0px;
    border-radius: 4px;
    height: 45px;
    background-color: white;
    float: left;
    overflow: visible; /* needed to remove padding from buttons in IE */
}
.olControlPanel button span {
    padding-left: 35px;
}
.olControlPanel button span:first-child {
    padding-left: 0;
    display: block;
    position: absolute;
    left: 10px;
}

.olControlPanel .olControlEditCableItemActive span:first-child {
    background-image: url("js/OpenLayers-2.12/theme/default/img/move_feature_on.png");
    height: 22px;
    width: 24px;
    top: 1px;
    left: 1px;
}
.olControlPanel .olControlEditCableItemInactive span:first-child {
    background-image: url("js/OpenLayers-2.12/theme/default/img/move_feature_off.png");
    height: 22px;
    width: 24px;
    top: 1px;
    left: 1px;
}

.olControlPanel .olControlDrawCableItemActive span:first-child {
    background-image: url("js/OpenLayers-2.12/theme/default/img/draw_line_on.png");
    height: 22px;
    width: 24px;
    top: 1px;
    left: 1px;
}
.olControlPanel .olControlDrawCableItemInactive span:first-child {
    background-image: url("js/OpenLayers-2.12/theme/default/img/draw_line_off.png");
    height: 22px;
    width: 24px;
    top: 1px;
    left: 1px;
}

.olControlPanel .olControlDeleteCableItemActive span:first-child {
    background-image: url("js/OpenLayers-2.12/theme/default/img/draw_line_on.png");
    height: 22px;
    width: 24px;
    top: 1px;
    left: 1px;
}
.olControlPanel .olControlDeleteCableItemInactive span:first-child {
    background-image: url("js/OpenLayers-2.12/theme/default/img/draw_line_off.png");
    height: 22px;
    width: 24px;
    top: 1px;
    left: 1px;
}

.olControlPanel .olControlAddSingPointItemActive span:first-child {
    background-image: url("js/OpenLayers-2.12/theme/default/img/add_point_on.png");
    height: 22px;
    width: 24px;
    top: 1px;
    left: 1px;
}
.olControlPanel .olControlAddSingPointItemInactive span:first-child {
    background-image: url("js/OpenLayers-2.12/theme/default/img/add_point_off.png");
    height: 22px;
    width: 24px;
    top: 1px;
    left: 1px;
}

.olControlPanel .olControlDeleteSingPointItemActive span:first-child {
    background-image: url("js/OpenLayers-2.12/theme/default/img/remove_point_on.png");
    height: 22px;
    width: 24px;
    top: 1px;
    left: 1px;
}
.olControlPanel .olControlDeleteSingPointItemInactive span:first-child {
    background-image: url("js/OpenLayers-2.12/theme/default/img/remove_point_off.png");
    height: 22px;
    width: 24px;
    top: 1px;
    left: 1px;
}

.olControlPanel .olControlAddNodeItemActive span:first-child {
    background-image: url("js/OpenLayers-2.12/theme/default/img/draw_point_on.png");
    height: 22px;
    width: 24px;
    top: 1px;
    left: 1px;
}
.olControlPanel .olControlAddNodeItemInactive span:first-child {
    background-image: url("js/OpenLayers-2.12/theme/default/img/draw_point_off.png");
    height: 22px;
    width: 24px;
    top: 1px;
    left: 1px;
}

.olControlPanel .olControlDeleteNodeItemActive span:first-child {
    background-image: url("js/OpenLayers-2.12/theme/default/img/remove_point_on.png");
    height: 22px;
    width: 24px;
    top: 1px;
    left: 1px;
}
.olControlPanel .olControlDeleteNodeItemInactive span:first-child {
    background-image: url("js/OpenLayers-2.12/theme/default/img/remove_point_off.png");
    height: 22px;
    width: 24px;
    top: 1px;
    left: 1px;
}

.olControlPanel .olControlNavigationItemActive span:first-child {
    background-image: url("js/OpenLayers-2.12/theme/default/img/pan_on.png");
    height: 22px;
    width: 24px;
    top: 1px;
    left: 1px;
}
.olControlPanel .olControlNavigationItemInactive span:first-child {
    background-image: url("js/OpenLayers-2.12/theme/default/img/pan_off.png");
    height: 22px;
    width: 24px;
    top: 1px;
    left: 1px;
}

.olControlPanel .olControlSaveItemInactive span:first-child {
    background-image: url("js/OpenLayers-2.12/theme/default/img/save_features_off.png");
    height: 22px;
    width: 24px;
    top: 1px;
    left: 1px;
}
.olControlPanel .olControlCancelItemInactive span:first-child {
    background-image: url("js/OpenLayers-2.12/theme/default/img/cancel_features_off.png");
    height: 22px;
    width: 24px;
    top: 1px;
    left: 1px;
}

.olControlPanel .olControlMoveNodeItemActive span:first-child {
    background-image: url("js/OpenLayers-2.12/theme/default/img/move_feature_on.png");
    height: 22px;
    width: 24px;
    top: 1px;
    left: 1px;
}
.olControlPanel .olControlMoveNodeItemInactive span:first-child {
    background-image: url("js/OpenLayers-2.12/theme/default/img/move_feature_off.png");
    height: 22px;
    width: 24px;
    top: 1px;
    left: 1px;
}

body {
    overflow-x: hidden;
}

#map{
    position: absolute;
    z-index: 902; 
    width: 100%; 
    height: 100%;
}

#sidebar{
    z-index: 903;
    position: absolute;
    top: 50%;
}

#slideout {
    background: #666;
    width: 170px;
    height: 0px;
    left:-170px;
    padding-left: 0px;
    z-index: 903;
    position: absolute;
    top: 35%;
}

#menuBtn {
    position: absolute;
    top: -2px;
    left: 168px;
    cursor: pointer;
}

#slidecontent {
    float:left;
}