{include file="header.html"}
<!--// $Id: netdevedit.html,v 1.10 2008/01/19 19:56:45 alec Exp $ //-->
<H1>{$layout.pagetitle}</H1>
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR>
		<TD WIDTH="100%">
			{include file="netdeveditbox.html"}
		</TD>
	</TR>
	<TR>
		<TD WIDTH="100%">
			{include file="netdevipbox.html"}
		</TD>
	</TR>
		<TD WIDTH="100%">
			{include file="netdevconnbox.html"}
		</TD>
	</TR>
	<TR>
		<TD WIDTH="100%">
			{include file="netdevnodes.html"}
		</TD>
	</TR>
</TABLE>
{include file="footer.html"}
